 :root{
    background-color: rgb(101, 126, 236);
}

.flex-form{
   display:flex; 
   height: 70vh; 
   /* flex-direction: row;
   flex-wrap: wrap; */
   /* width: 700px; */
   align-items: center;
   justify-content: center;
   /* margin-top: 5%; */
   /* border-radius: 10px; */
}

.ya{
    display:flex; 
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    align-content: center;
    justify-content: center;
    padding:25px;
    width: 550px;
    border-radius: 10px; 
    
}

.ya>*{
   flex: 0 75%;
}

.timerInput{
        margin:10px;
    /* height: 60px; */
}

.boil{
    flex-basis: 200px;
    flex-grow: 2;
    height: 60px;
    border-top: none;
    border-bottom:1px solid rgb(141, 132, 132);
    border-left: none;
    border-right: none;
    /* padding: 10px; */
    border-radius: 3px;
}

.btn-submit{
    flex-basis:60px;
    flex-grow: 1;
    border: none;
    height: 60px;
    background-color: rgb(185, 184, 184);
    border-radius: 3px;
}

.counter{
    display:flex;
    flex-direction: row; 
    justify-items: left;    
    align-items: flex-start;
} 

.circle{
    animation: pulse 1s infinite;
    height: 30px;
    width: 30px;
    padding:10px;
    margin-top: 15px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: rgb(231, 163, 37);  
    text-align: center;
    color: white;
}

input:focus{
    outline: none;
}

@keyframes pulse{
    0%{
        transform: scale(0.7);
    }

    100%{
        transform: scale(0.9);
    }
}
